[package]
name = "lambda"
version = "0.1.0"
edition = "2021"
rust-version = "1.62"

[lib]
name = "lib"
path = "src/lib/lib.rs"

[[bin]]
name = "transcribe"
path = "src/cmd/transcribe.rs"

[[bin]]
name = "transcribe_post_process"
path = "src/cmd/transcribe_post_process.rs"

[[bin]]
name = "subtitle"
path = "src/cmd/subtitle.rs"

[[bin]]
name = "index_subtitle"
path = "src/cmd/index_subtitle.rs"

[[bin]]
name = "search_subtitle"
path = "src/cmd/search_subtitle.rs"

[[bin]]
name = "image_frame"
path = "src/cmd/image_frame.rs"

[dependencies]
serde = "1"
serde_json = "1"
tokio = { version = "1.26", features = ["full"] }
anyhow = "1"
itertools = "0.10"
lambda_runtime = "0.7"
aws_lambda_events = "0.7"
aws-config = "0.54"
aws-sdk-s3 = "0.24"
aws-sdk-lambda = "0.24"
aws-sdk-transcribe = "0.24"
aws-sdk-translate = "0.24"
aws-sdk-dynamodb = "0.24"
aws-sdk-sqs = "0.24"
aws-sdk-sns = "0.24"
serde_dynamo = { version = "4", features = ["aws-sdk-dynamodb+0_24"] }
chrono = "0.4"
uuid = { version = "1", features = ["serde", "v4"] }
dotenv = "0.15"
url-escape = "0.1"
tantivy = "0.18"
lindera-tantivy = { version = "0.18", features = ["ko-dic"] }
remove_dir_all = "0.8"